body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #343a40;
}

.navbar-header {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-toggler {
  display: none;
  cursor: pointer;
}

.navbar-toggler-icon {
  background-color: white;
  width: 30px;
  height: 3px;
  display: block;
  margin: 5px 0;
}


.navbar-nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: #495057;
  border-radius: 5px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.time-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.movie-card {
  flex: 1;
  min-width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: #0056b3;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .movie-container {
    flex-direction: column;
  }

  .movie-card {
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  .nav-item {
    margin-left: -1rem;
  }
}
